extends ../layout.pug

block layout-content
    .wrapper    
        section.auth-welcome
            h1.auth-welcome__hi hi!
            h2.auth-welcome__heading This is where it all begins
                span.heading__dots ...
        
        section.auth-form
            include ./auth.pug

        footer.more-info What's that all about?
            .underline 