extends ../layout.pug

block layout-content
    .wrapper    
        section.auth-welcome
            h1.header-big hi!
            h2.header-small This is where it all begins
                span.header-color ...
        
        section.auth-form
            include ./auth.pug

        footer.more-info What's that all about?
            .underline 