html
    head
        link(rel="stylesheet", href="style.css")
        script(src="bundle.js" defer)
    body
        h1.title Hello to the app by #{author}
        p.hello #{author} is saying 'Hello!' to you!!!!!
        button.button hit me