html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

.title {
  color: purple;
  text-decoration: underline;
  transition: all .5s ease;
  text-align: center; }
  .title:hover {
    transform: translateX(36px); }

.hello {
  background: linear-gradient(180deg, black, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }
